<head>
    <link rel="stylesheet" href="menu-notas.component.css">
  </head>

<div>
        <h1>My notes</h1>
        <button (click)="crearNuevaNota()">Create note</button>
        <a href="" style="padding-left: 10px">Show archived notes</a>
</div>
<div></div>

<!-- Mostrar notas activas -->
<ng-template [ngIf]="modoActivas==true">
    
    <div class="row">
    <div *ngFor="let nota of notasActivas; index as n" class="card">
        <div class="container">
            <img src="assets/nota-adhesiva.png" alt="" width="100" height="150">
            <h4><b>{{nota.titulo}}</b></h4>
            <p>{{nota.contenido}}</p>
            <p>Last edited: {{nota.ultimaFechaActualizacion.slice(0, nota.ultimaFechaActualizacion.indexOf('T'))}}</p>

            <button (click)="archivarNota(nota.idNota,nota)">Archive</button>
            <button>Edit</button>
            <button (click)="borrarNota(nota.idNota)">Delete</button>

        </div>
    </div>
    </div>

</ng-template>

<!-- Mostrar notas archivadas -->
<ng-template [ngIf]="modoActivas==false">
    <div>

    </div>
</ng-template>
