h1 {
    margin: 10px;
    display: inline-block;
}

html,body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: rgb(235, 231, 46);
  overflow: auto;
}
.wrapper{
  width: 1200px;
  margin:40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fill,256px); */
  gap:15px
}

.note:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.wrapper li{
  height: 250px;
  min-width: 500px;
  max-width: 500px;
  background: #fff;
  list-style: none;
  border-radius: 5px;
  padding: 5px 10px 10px;
  justify-content: center;
  word-wrap: break-word;
  text-overflow: ellipsis
}

.wrapper .note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis
}

.note h4{
  display: flex;
  align-self: center;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
}
.note span{
  display:block;
  margin-top: 1px;
  font-size:12px;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}

.bottom-content{
  padding-top: 7px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.bottom-content p{
  font-size: 10px;
}